<%- include('partials/header') %>

<section class="container">
  <div class="logo-div">
    <div class="logo-divs">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-landmark-icon lucide-landmark">
        <path d="M10 18v-7"/>
        <path d="M11.119 2.205a2 2 0 0 1 1.762 0l7.84 3.846A.5.5 0 0 1 20.5 7h-17a.5.5 0 0 1-.22-.949z"/>
        <path d="M14 18v-7"/>
        <path d="M18 18v-7"/>
        <path d="M3 22h18"/>
        <path d="M6 18v-7"/>
      </svg>
    </div>
    <p class="logo-text">Cipher Vault</p>
  </div>

  <h1 class="bold-txt">Secure. <span>Fast.</span> Trusted.</h1>

  <p class="txt">A modern authentication solution <br/>for your applications.</p>

  <div class="btn-section">
    <a class="btn" href="/register" role="button">
      Register 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right">
        <path d="M5 12h14"/>
        <path d="m12 5 7 7-7 7"/>
      </svg>
    </a>
    <a class="btn" id="btn-one" href="/login" role="button">Login 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right">
        <path d="M5 12h14"/>
        <path d="m12 5 7 7-7 7"/>
      </svg>
    </a>
  </div>
</section>